/* --
	
	* Default CSS File *
	This file contains styles related to the colour scheme of the theme
	--
	Please make any amendments to "custom.css" rather than this file
	This will make updating your theme files much easier without overwriting your changes!

-- */

a,
#top-bar a:hover,
#logo a:hover,
#recent-news-block .entry-title a:hover,
#featured-posts-block .entry-title a:hover,
.category-block .entry-title a:hover,
.category-block-summary .entry-title a:hover,
.tz_tweet_widget a:hover,
.xoxo a:hover,
.tz_tab_widget #tab-items li a:hover,
.tz_tab_widget #tab-items li.ui-tabs-selected a,
.tz_tab_widget #tab-items li.ui-state-active a,
.tz_tab_widget .entry-title a:hover,
.widget ul li a:hover,
#related-posts .entry-title a:hover, 
p.breadcrumb,
li.bypostauthor cite, li.bypostauthor cite a,
li.comment cite a:hover,
#archive-posts .post-container .entry-title a:hover,
#single-column-right ul.share li a:hover,
#single-column-right ul.rss li a:hover,
#secondary-nav ul li.current_page_item a,
#secondary-nav ul li.current_page_item li a:hover,
#secondary-nav ul li.current_menu_item a,
#secondary-nav ul li.current_menu_item a:hover,
.entry-meta .entry-tags a, .entry-meta .entry-tags a:hover 
{ color: #f37021; }

/* was: #f37021; 
	should be: #ff6600; */

.tz_tweet_widget span a
{ color: #f37021!important; }

.widget_search #searchsubmit,
.tab-tags a:hover, 
#commentform input#submit,
#contactForm button
{ background: #D35428; color: #fff; }

